@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

body{
    margin: 0;
    background-color: #1B1E28;
    color: white;
    font-family: 'Sen', sans-serif;
    height:100%;

}

body::-webkit-scrollbar{
  display: none;
}

/* Nav */

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    max-height: 80px;
    padding-left: 50px;
    display: flex;
    padding-top: 10px;
    z-index: 30;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.dot{
    color: #7B00CE;
    font-size: 45px;
    margin: 0;
}

.homeButton{
    color: white;
    text-decoration: none;
    font-size: 45px;
    
}

.logo{
    display: flex;
}

nav ul{
    display: inline-block;
    list-style: none;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
    margin-left: auto;
}

nav li{
    display: inline-block;
}

nav li a{
    color: white;
    display: block;
    height: 25px;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

nav li a:hover{
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

nav li a:before, nav li a:after{
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    background: white;
}

nav li a:before{
    left: 0;
    transition: 0.5s;
}

nav li a:after{
    background: white;
    right: 0;
}

nav li a:hover:before{
    background: white;
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

nav li a:hover:after{
    background: transparent;
    width: 100%;
}

/* Main section */

.container{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 150px;
    height:100%;
}

textarea{
    width:500px;
    border:none;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #7B00CE;
    background-color: #161921;
    color:white;
    outline: none;
    border-radius: 20px;
    resize: none;
}

.name{
    border:none;
    box-sizing: border-box;
    border: 1px solid #7B00CE;
    background-color: #161921;
    color:white;
    outline: none;
    height: 30px;
    border-radius: 20px;
    padding-left: 20px;
}

.title{
    margin: auto;
    padding-bottom: 50px;
}

.form{
    margin:auto;
    display: flex;
    flex-direction: column;
}

.submit{
    text-decoration: none;
    color:white;
    font-weight: bold;
    border: 1px #7B00CE solid;
    border-radius: 20px;
    padding: 20px 40px 20px 40px;
    transition: all 0.3s ease;
    background-color: #161921;
    cursor: pointer;
}

.submit:hover{
    background-color: #7B00CE;
    color:white;
}

/* footer */

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.copyright{
    background-color: #5B00A5;
    margin: 0;
    text-align: center;
}