@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

body{
    margin: 0;
    background-color: #1B1E28;
    color: white;
    font-family: 'Sen', sans-serif;
    height:100%;
    overflow-x: hidden;
    position: absolute;
}

body::-webkit-scrollbar{
  display: none;
}

/* Nav */

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    max-height: 80px;
    padding-left: 50px;
    display: flex;
    padding-top: 10px;
    z-index: 30;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.logoDot{
    color: #7B00CE;
    font-size: 45px;
    margin: 0;
}

.homeButton{
    color: white;
    text-decoration: none;
    font-size: 45px;
    
}

.logo{
    display: flex;
}

nav ul{
    display: inline-block;
    list-style: none;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
    margin-left: auto;
}

nav li{
    display: inline-block;
}

nav li a{
    color: white;
    display: block;
    height: 25px;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

nav li a:hover{
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

nav li a:before, nav li a:after{
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    background: white;
}

nav li a:before{
    left: 0;
    transition: 0.5s;
}

nav li a:after{
    background: white;
    right: 0;
}

nav li a:hover:before{
    background: white;
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

nav li a:hover:after{
    background: transparent;
    width: 100%;
}

/* Main section */

.container {
    position: relative;
    background: #1B1E28;
}
.slide-1 {
    background: url('assests/concepts/background1.png');
}
.slide-2 {
    background: url('assests/concepts/background2.png');
}
.slide-3 {
    background: url('assests/concepts/background3.png');
}
.slide-4 {
    background: url('assests/concepts/background4.png');
}

.slide {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}
.caption {
    background: rgba(0, 0, 0, 0.03);
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px 0px;
}
.caption h3 {
    color: #fff;
    text-align: center;
    font-size: 50px;
    padding: 18px;
}
.caption p {
    max-width: 600px;
    width: 90%;
    margin: 0px auto;
    color: #ccc;
    text-align: center;
    font-size: 18px;
    line-height: 1.5em;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100;
    border-radius: 50%;
    transform: background 500ms;
}
.arrow img {
    width: 50px;
}
.arrow:hover {
    background: rgba(123, 0, 206, .2);
}
.l {
    left: 0;
}
.r {
    right: 0;
}

/*----*/

.project{
    max-width:75%;
    margin: auto;
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    background:
    linear-gradient(to right, #7B00CE 2px, transparent 4px) 0 0,
    linear-gradient(to right, transparent 4px, transparent 4px) 0 100%,
    linear-gradient(to left, transparent 4px, transparent 4px) 100% 0,
    linear-gradient(to left, #7B00CE 2px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, #7B00CE 2px, transparent 4px) 0 0,
    linear-gradient(to bottom, transparent 4px, transparent 4px) 100% 0,
    linear-gradient(to top, transparent 4px, transparent 4px) 0 100%,
    linear-gradient(to top, #7B00CE 2px, transparent 4px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    padding-top: 30px;
    padding-bottom: 70px;
}

.project2{
    max-width:75%;
    margin: auto;
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    background:
    linear-gradient(to right, transparent 4px, transparent 4px) 0 0,
    linear-gradient(to right, #7B00CE 2px, transparent 4px) 0 100%,
    linear-gradient(to left, #7B00CE 2px, transparent 4px) 100% 0,
    linear-gradient(to left, transparent 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, transparent 4px, transparent 4px) 0 0,
    linear-gradient(to bottom, #7B00CE 2px, transparent 4px) 100% 0,
    linear-gradient(to top, #7B00CE 2px, transparent 4px) 0 100%,
    linear-gradient(to top, transparent 4px, transparent 4px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    padding-top: 30px;
    padding-bottom: 70px;
}

.item1{
    width:60%;
     /* border-left: 5px solid #7B00CE; */
    padding-left: 40px;
}

.item3{
    width:60%;
    padding-right: 40px;
    text-align: right;
}
.item3 ul {
    list-style-position: outside;
    direction: rtl;
}


.row1{
    padding-top: 25px;
    width:75%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
    
}

/* Images */

.buttonbox{
    width:230px;
    height:200px;
    border-radius: 20px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(123, 0, 206, 0.5));
}

.frontEnd{
    width:420px;
    height:250px;
    border-radius: 20px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(123, 0, 206, 0.5));
}

.weatherstation{
    width:400px;
    height:230px;
    border-radius: 20px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(123, 0, 206, 0.5));
}

.frontEnd2{
    width:400px;
    height:230px;
    border-radius: 20px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(123, 0, 206, 0.5));
}

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.mySlides img{
    border-radius: 20px;
}

/* ----------------------------------------------------------------- */

.slideshow-container2 {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev2, .next2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next2 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev2:hover, .next2:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text2 {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext2 {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot2 {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active2, .dot2:hover {
  background-color: #717171;
}

/* Fading animation */
.fade2 {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev2, .next2,.text2 {font-size: 11px}
}

.mySlides2 img{
    border-radius: 20px;
}

.mySlides3 img{
    border-radius: 20px;
}


.mySlides4 img{
    border-radius: 20px;
}


/* footer */

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.copyright{
    background-color: #5B00A5;
    margin: 0;
    text-align: center;
}